/* body {
  background-color: #888;
} */

table {
  margin: auto;
  background-color: #222;
  width: 295px;
  max-width: 295px;
  height: 325px;
  text-align: center;
  border-radius: 4px;
  padding-right: 10px;
  padding-left: 20px;
}

input {
  outline: 0;
  position: relative;
  left: 5px;
  top: 5px;
  border: 0;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
  margin-bottom: 15px;
  overflow-x: auto;
  overflow-y: hidden;
}

/* input:hover {
  border: 0 solid #000;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 180px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px #b0d2cf;
} */

/* input:active {
  display:inline-flexbox;
  top: 4px;
  border: 0 solid #000;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 180px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: none;
} */

#display {
  width: 265px;
  max-width: 270px;
  font-size: 26px;
  text-align: right;
  background-color: #bcbd95;
  float: left;
}

#display:hover {
  width: 270px;
  font-size: 26px;
  text-align: right;
  background-color: #bcbd95;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

#display:active {
  top: 5px;
  width: 270px;
  font-size: 26px;
  text-align: right;
  background-color: #bcbd95;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

.operator {
  background-color: #cee9ea;
  border-left: 300px;
  display: inline-flexbox;
  position: relative; 
}

.operator:hover {
  background-color: #cee9ea;
  box-shadow: 0 4px #b0d2cf;
}

.operator:active {
  top: 4px;
  box-shadow: none;
}
h1 {
  color: blue;
  margin-top: 0;
  }
  section {
  padding: 1em 2em;
  }
  label {
    
      width: 300px;
      max-width: 320px;
      font-size: 26px;
      text-align: right;
      background-color: #bcbd95;
      float: left;
  }
  .taxcalculation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; 
  }
  .numberArray{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    border: 2px;
    width: 50%;
    height: 40%;
    border: 2px;
    border-style: dashed;
    padding: 20px;
    background-color: aqua;
    }
    #addNumber{
      margin-left: 170px;
    }
    #myInput{
      width: 265px;
      margin-left: 350px;
      color: rgb(218, 32, 119);
      font-size: 18px;
      text-align: center; 
    }
    #output{
    width: 265px;
    margin-left: 350px;
    color: rgb(218, 32, 119);
    font-size: 18px;
    text-align: center; 
  }
 
  .dictionaries{
    width: 800px;
    text-align: center; 
    margin: 0 auto;
    border: 2px;
    width: 50%;
    height: 30%;
    border-style: dashed;
    padding: 20px;
    background-color: aqua;
    
    }
    #myProvince{
      margin-left: 330px;
      width: 300px;
      text-align: center;
     
    }
    #displayLngname{
      margin-left: 380px;
      color: goldenrod;
  
    }
    #outputDic{
      margin-left: 380px;
      color: rgb(218, 32, 119);
      text-align: center
  
    }
   
  